* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{

    background-color: #fdcd4b;
    display: flex;
    flex-wrap: wrap;
}
header{
    grid-area: header;
    display: flex;
    background-color: rgb(0, 0, 0);
    width:100%;
    height: 12.6%;
    position: fixed;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
}
.Abrir_menu{

    display: none;

}  
.Salir_menu{

    display:none;

}
.nav{
     
    background-color: rgb(0, 0, 0);
    z-index: 1001;
    justify-content: center;
    
}
.imagen_titulo{

    width: 100px;
    height:  auto;
    margin-left: 40px;
   
}
.nav_list{
    
    
    display: flex;
    list-style-type: none;
    text-align: center;
    padding-right: 60px;
    
}
.nav_list li{

    margin-left: 100px;
    font-size: 35px;
    
}
.nav_list li a{

    color:antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
a:hover {
    color: rgb(83, 83, 83); 
}

.titulo_galeria{
    
    grid-area: titulo_galeria;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100px;
    text-align: center;
    border-radius: 5px;
    align-items: center;
    display: none;

}
.titulo_galeria h2{

    color: #fff;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.Informacion{
    
    display: flex;
    flex-wrap: wrap;
    grid-area: Informacion; 
    background-color: #fdcd4b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;

}
.contenedor_gif{
    
    margin-top: 40px;
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

}
.contenedor_gif img{

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px; 

}
.contenedor_img{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2%;
    margin-top: 1%;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.contenedor_img img{

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px; 
}

footer{
    
    grid-area: footer;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}
.social-icons a {
    color: #fff; 
    text-decoration: none; 
    font-size: 60px; 
}
.social-icons {

    width: 400px;
    height: auto;
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around; 
}
    
.Contenedor{
     
    text-align: center;
    
}
.Contenedor{
    
    display: grid;
    gap: 0%;
    place-content: center;
    
    grid-template-areas:
        "header"
        "titulo_galeria"
        "Informacion"
        "footer";
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 100%;
    min-height: 100vh;
    
}

@media(max-width : 480px){

    .Contenedor{
    
        display: grid;
        gap: 0px;
        place-content: center;
        
        grid-template-areas:
            "header"
            "titulo_galeria"
            "Informacion"
            "footer";
        grid-template-rows: auto auto auto;
        grid-template-columns: 100%;
        min-height: 100vh;
        
    }
    body{

        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
    .header{

        width: 100%;

    }
    .Contenedor{

        width: auto;
        height: auto;
        
    }
    .imagen_titulo{

        width: 83px;
        height:  60px;
        margin-left: 40px;
       
    }

    .titulo_galeria{

        display: none;

    }

   .contenedor_gif{

        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        padding: 30px;
       padding-bottom: 10px;
       padding-top: 0;
    }

    .contenedor_gif div{

        width: 100%;
        height: auto;

    }
    
    .contenedor_gif div img{

        width: 100%;
        height: auto;
        

    }

    .contenedor_img{

        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        justify-content: center;
        padding: 30px;
        padding-top: 0;
        padding-bottom: 0;
    
    }

    .contenedor_img div{

        width: 100%;
        height: auto;

    }
    
    .contenedor_img div img{

        width: auto;
        height: auto;

    }

   .contenedor_menu{

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 30px; 
    }

    .Abrir_menu{

        display: block;
        height: 50px;
        width: 40px;
        background-color: black;
        color: #fff;
        border: none;
        font-size: 50px;
        
    }

    .Salir_menu{

        display: block;
        height: 50px;
        width: 40px;
        margin-right: 25px;
        border: none;
        background-color: #1c1c1c;
        color: #fff;
        font-size: 30px;

    }
    .nav{
        display: flex;
        position: fixed;
        top : 0;
        right: 0;
        width: 50%;
        height: 100%;
        z-index: 1001;
        background-color: #1c1c1c;
        box-shadow: 0 0 0 100vmax rgb(0, 0, 0,.5);
        opacity: 0;
        visibility: hidden;
    }
    .nav.visible{

        opacity: 1;
        visibility: visible;

    }
    .nav_list{

        padding-top: 5px;
        flex-direction: column;
        align-items: end;
        margin-top: 12px;
        padding-right: 100px;
        
    }

    .nav_list li{

        padding-top: 30px;

    }

    .contenedor_img div{

        width: 100%;
        height: auto;

    }

    .contenedor_img div img{

        width: 100%;
        height: 100%;

    }
    .Informacion{

        margin-bottom: 30px;
        width: 100%;
        height: auto;

    }

}